name: CI

on:
  push:
    branches: [ "main", "feat/dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo
        ports:
          - 27017:27017
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: "latest"

    - name: Install dependencies
      run: bun install

    - name: Lint project
      run: bun run lint

    - name: Build project
      run: bun run build
      env:
        PAYLOAD_SECRET: "ci_super_secret_key_for_build_only"
        DATABASE_URI: "mongodb://mongodb:27017/test"
